includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - config
        - tests # optional
    tmpDir: build/phpstan

    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
